/* 
.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../assets/images/leaf.jpeg') no-repeat center center fixed;
  background-size: cover;
}


.forgot-password-container {
  background-color: #025048ac;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  color: #fff;
 
}


h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.8rem;
}


input[type="email"],
input[type="password"] {
  width: 95%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 15px;
  background-color: #2c2f36;
  border: none;
  border-radius: 5px;
  color: white;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: #999;
}


.form-group {
  display: flexbox;
  margin-bottom: 20px;
}


input[type="checkbox"] {
  margin-right: 10px;
}


.reset-btn {
  background-color: #025048; 
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.reset-btn:hover {
  background-color: #04312d;
}


a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} */
